@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

@{
    Version version = System.Reflection.Assembly.GetExecutingAssembly().GetName().Version;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <title>@ViewData["Title"] </title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <script src="~/js/jquery-3.5.1.min.js"></script>
    <script src="https://kit.fontawesome.com/832f1d49a9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/img/ControleTCC-IFS-Menu.png"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Administrador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="Cursos" asp-action="Index"><b>Cursos</b></a>
                                </li>
                            }
                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordenador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="Usuarios" asp-action="Index"><b>Usuários</b></a>
                                </li>
                            }
                            @if (User.IsInRole("Coordenador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black"  asp-area="" asp-controller="Tccs" asp-action="Index"><b>TCC's</b></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="Calendarios" asp-action="Index"><b>Calendários</b></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="Relatorios" asp-action="Index"><b>Relatórios</b></a>

                                </li>
                                
                            }

                            @if (User.IsInRole("Professor") || User.IsInRole("Coordenador") || User.IsInRole("Aluno"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="Bancas" asp-action="Index"><b>Banca</b></a>
                                </li>
                            }

                            @if (User.IsInRole("Professor") || User.IsInRole("Aluno") || User.IsInRole("Administrador"))
                            {
                                //acição do link para o TCC finalizado
                                <li class="nav-item">
                                    <a class="nav-link" style="color:black" asp-area="" asp-controller="TCCFinalizados" asp-action="Index"><b>TCCs Finalizados</b></a>
                                </li>
                            }
                        }
                        else
                        {

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - Controle de TCC's - IFS - Versão: @version
        </div>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
