@using Microsoft.AspNetCore.Identity

@inject SignInManager<Usuario> SignInManager
@inject UserManager<Usuario> UserManager

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]SistemaDeControleDeTCCs</title>
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/832f1d49a9.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-transparent border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Sistema de Controle de TCC's</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("Administrador") || User.IsInRole("Coordenador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Coordenador" asp-controller="Usuarios" asp-action="Index">Usuários</a>
                                </li>
                            }
                            @if (User.IsInRole("Coordenador"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Coordenador" asp-controller="Tccs" asp-action="Index">TCC's</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="Coordenador" asp-controller="Calendarios" asp-action="Index">Calendários</a>
                                </li>
                            }

                            @if (User.IsInRole("Professor") || User.IsInRole("Coordenador") || User.IsInRole("Aluno"))
                            {
                                <li class="nav-item">
                                    <a class="nav-link text-dark" asp-area="" asp-controller="Bancas" asp-action="Index">Banca</a>
                                </li>
                            }

                            @if (User.IsInRole("Professor"))
                            {

                            }
                            @if (User.IsInRole("Aluno"))
                            {
                                
                            }
                        }
                        else
                        {

                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - SistemaDeControleDeTCCs
        </div>
    </footer>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
