@model SistemaDeControleDeTCCs.Models.Calendario

@{
    ViewData["Title"] = "Editar Calendário";
}

<h1>@ViewData["Title"]</h1>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @TempData["Error"].ToString()
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CalendarioId" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Ano" class="control-label"></label>
                    <input asp-for="Ano" class="form-control" />
                    <span asp-validation-for="Ano" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Semestre" class="control-label"></label>
                    <select asp-for="Semestre" class="form-control">
                        <option value="">Selecione</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                    </select>
                    <span asp-validation-for="Semestre" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="DataInicio" class="control-label"></label>
                    <input asp-for="DataInicio" class="form-control" />
                    <span asp-validation-for="DataInicio" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-12">
                    <label asp-for="DataFim" class="control-label"></label>
                    <input asp-for="DataFim" class="form-control" />
                    <span asp-validation-for="DataFim" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <!--<div class="form-group">
     <input type="submit" value="Salvar" class="btn btn-primary" /> |
     <a asp-action="Index">Voltar</a>
     </div>-->

            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-floppy-o" aria-hidden="true"> Salvar</i></button>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-outline-secondary btn-block"><i class="fa fa-list" aria-hidden="true"></i> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
