
@{
    ViewData["Title"] = "Relatório";
}

<partial name="_HeaderPartial" />

<h2>@ViewData["Title"]</h2>
<br /><br />
<form asp-action="Preview" method="get" target="_blank">
    <div class="form-group row">
        
        <div>
            <label class="col-sm-2 col-form-label">Semestre:</label>
        </div>
        
        <div class="col-sm-auto">
            <select class="form-control" asp-items="@ViewBag.Semestre" id="filterSemestre" name="filterSemestre">
                <option selected>Selecione</option>
            </select>
        </div>
        
        <div>
            <input type="submit" value="Gerar PDF" class="btn btn-outline-primary" />
        </div>
    </div>
</form>
<button onclick="history.back()" class="btn btn-outline-secondary"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</button>