@{
    ViewData["Title"] = "Sistema de Auditoria";
}


<div class="panel panel-default panel-controls">
    <div class="panel panel-heading">
        <h3>Controle de Tcc</h3>
    </div>

    <div class="panel panel-body">

        <h3 class="text-danger">LOGGING...: Um erro inesperado ocorreu. Contate o Administrador!</h3>

    </div>
</div>

