@model SistemaDeControleDeTCCs.Models.ViewModels.UsuarioViewModel

@{
    ViewData["Title"] = "Usuário";
}

@section Styles {
    <link rel="stylesheet" href="~/css/style-form-group.css" />
}

<partial name="_HeaderPartial" />

<h3>Editar usuário</h3>
<div class="row" id="fundo">
    <div class="col-md-12">
        <form asp-action="AddOrEdit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Usuario.Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label class="control-label">Campus: @Model.Usuario.Curso.Campus.Nome</label>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.TipoUsuarioId" class="control-label"></label>
                    <select asp-for="Usuario.TipoUsuarioId" asp-items="@(new SelectList(Model.TiposUsuario,"TipoUsuarioId","DescTipo"))" class="form-control input">
                        <option value="">Selecione o tipo</option>
                    </select>
                    <span asp-validation-for="Usuario.TipoUsuarioId" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.IdCurso" class="control-label"></label>
                    <select asp-for="Usuario.IdCurso" asp-items="@(new SelectList(Model.Cursos,"Id","Nome"))" class="form-control input">
                        <option value="">Selecione o curso</option>
                    </select>
                    <span asp-validation-for="Usuario.IdCurso" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.Nome" class="control-label"></label>
                    <input asp-for="Usuario.Nome" class="form-control input" />
                    <span asp-validation-for="Usuario.Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.Sobrenome" class="control-label"></label>
                    <input asp-for="Usuario.Sobrenome" class="form-control input" />
                    <span asp-validation-for="Usuario.Sobrenome" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.Matricula" class="control-label"></label>
                    <input asp-for="Usuario.Matricula" class="form-control input" />
                    <span asp-validation-for="Usuario.Matricula" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.Cpf" class="control-label"></label>
                    <input asp-for="Usuario.Cpf" class="form-control input" onkeydown="javascript: fMasc( this, mCPF );" />
                    <span asp-validation-for="Usuario.Cpf" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.Email" class="control-label"></label>
                    <input asp-for="Usuario.Email" class="form-control input" />
                    <span asp-validation-for="Usuario.Email" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Usuario.PhoneNumber" class="control-label">Telefone</label>
                    <input asp-for="Usuario.PhoneNumber" class="form-control input" />
                    <span asp-validation-for="Usuario.PhoneNumber" class="text-danger"></span>
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button id="btsalvar" type="submit" class="btn-form"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
                </div>
                <div class="form-group col-md-6">
                    <a id="avoltar" asp-action="Index" class="btn btn-form"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>
<script>

    function fMasc(objeto, mascara) {
        obj = objeto
        masc = mascara
        setTimeout("fMascEx()", 1)
    }
    function fMascEx() {
        obj.value = masc(obj.value)
    }
    function mCPF(cpf) {
        cpf = cpf.replace(/\D/g, "")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d)/, "$1.$2")
        cpf = cpf.replace(/(\d{3})(\d{1,2})$/, "$1-$2")
        return cpf
    }
</script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
