@model SistemaDeControleDeTCCs.Models.Banca

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Adicionar Membros à Banca</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">            
            <input type="hidden" value="@ViewBag.TccId" id="TccId" name="TccId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>            
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class ="form-control" asp-items="ViewBag.UsuarioId"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuarioId" class="control-label"></label>
                <select asp-for="TipoUsuarioId" class ="form-control" asp-items="ViewBag.TipoUsuarioId"></select>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <button type="submit" class="btn btn-outline-success btn-block"><i class="fa fa-floppy-o" aria-hidden="true"> Salvar</i></button>
                </div>
                <div class="form-group col-md-6">
                    <a asp-action="Index" class="btn btn-outline-secondary btn-block"><i class="fa fa-list" aria-hidden="true"></i> Cancelar</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
