@model SistemaDeControleDeTCCs.Models.Banca

@{
    ViewData["Title"] = "Banca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<partial name="_HeaderPartial" />

<h1>Edit</h1>

<h4>Banca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BancaId" />
            <div class="form-group">
                <label asp-for="DataDeCadastro" class="control-label"></label>
                <input asp-for="DataDeCadastro" class="form-control" />
                <span asp-validation-for="DataDeCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TccId" class="control-label"></label>
                <select asp-for="TccId" class="form-control" asp-items="ViewBag.TccId"></select>
                <span asp-validation-for="TccId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UsuarioId" class="control-label"></label>
                <select asp-for="UsuarioId" class="form-control" asp-items="ViewBag.UsuarioId"></select>
                <span asp-validation-for="UsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TipoUsuarioId" class="control-label"></label>
                <select asp-for="TipoUsuarioId" class="form-control" asp-items="ViewBag.TipoUsuarioId"></select>
                <span asp-validation-for="TipoUsuarioId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nota" class="control-label"></label>
                <input asp-for="Nota" class="form-control" />
                <span asp-validation-for="Nota" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
