@{
    ViewData["Title"] = "Página Inicial";
}

    <div>
        <div class="text-center">
            <h1 class="display-4">Sistema de Controle de TCC's</h1>
        </div>
    </div>
<p></p>
    <div class="text-center">
        <img src="~/Imagens/ifs-instituto-federal-de-educacao-ciencia-e-tecnologia-de-sergipe.png" width=400>
    </div>




