@{
    ViewData["Title"] = "Inicio";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Sistema de Controle de TCC's</h1>
        <img src="~/img/ControleTCC-IFS-Inicio.png" width=400>
    </div>
</div>

<div class="container" style="margin-top: 15%;display: flex;justify-content: space-between;flex-direction: column;">   
    
    <button class="btn btn-brand" style="background-color: green;">
        <a class="nav-link" style="color:white;padding: 0rem 1rem;" asp-area="" asp-controller="TCCPublicados" asp-action="Index"><b>TCCs</b></a>
    </button>
</div>




