@{
    ViewData["Title"] = "Página Inicial";
}

<div>
    <div class="text-center">
        <h1 class="display-4">Sistema de Controle de TCC's</h1>
        <img src="~/img/ControleTCC-IFS-Inicio.png" width=400>
    </div>
</div>
    




