@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "E-Mail de redefinição de senha enviado!";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, verifique seu e-mail para redefinir sua senha.
</p>

