@model SistemaDeControleDeTCCs.Models.Curso

@{
    ViewData["Title"] = "Curso";
}

@section Styles {
    <link rel="stylesheet" href="~/css/style-form-group.css" />
}

<partial name="_HeaderPartial" />

<h3>Editar curso: @Html.DisplayFor(model => model.Nome)</h3>
<br />
<div class="row" id="fundo">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="Nome" class="control-label"></label>
                    <input asp-for="Nome" class="form-control input" placeholder="Digite o nome do curso" />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="Sigla" class="control-label"></label>
                    <input asp-for="Sigla" class="form-control input" />
                    <span asp-validation-for="Sigla" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="CodEmec" class="control-label"></label>
                    <input asp-for="CodEmec" class="form-control input" />
                    <span asp-validation-for="CodEmec" class="text-danger"></span>
                </div>
                <div class="form-group col-md-6">
                    <label asp-for="IdCoordenador" class="control-label"></label>
                    <select asp-for="IdCoordenador" class="form-control input" asp-items="ViewBag.Coordenadores"></select>
                    <span asp-validation-for="IdCoordenador" class="text-danger"></span>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-6">
                    <label asp-for="IdCampus" class="control-label"></label>
                    <select asp-for="IdCampus" class="form-control input" asp-items="ViewBag.IdCampus"></select>
                    <span asp-validation-for="IdCampus" class="text-danger"></span>
                </div>
                <div class="form-group col-md-3">
                    <button id="btsalvar" type="submit" class="btn-form"><i class="fa fa-floppy-o" aria-hidden="true"></i> Salvar</button>
                </div>
                <div class="form-group col-md-3">
                    <a asp-action="Index" id="avoltar" class="btn btn-form"><i class="fa fa-reply" aria-hidden="true"></i> Voltar</a>
                </div>
            </div>
        </form>
    </div>
</div>
