:root {
    font-size: 12pt;
}

* {
    font-family: Helvetica, sans-serif;
    outline: none;
}

body {
    margin: 0;
}

a {
    text-decoration: none !important;
}

.main {
    height: 90vh;
    padding: 10px 80px 20px 80px;
}

@media all and (max-width: 1000px) {
    .main {
        padding: 20px;
    }
}