:root {
    font-size: 12pt;
}
/*
.row {
    
}

.form-group {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}

.control-label {
    margin-bottom: 5px;
}

.form-control {
    height: 35px;
}

.col-md-4 {
    width: 40%;
}

.navbar {
    display: flex;
    flex-direction: row;
}
*/