body {
    background: #FAFAFA;
}

#fundo {
    color: #707070;
    background: #FFFFFF;
    padding: 50px;
    margin: 20px 5em;
    border-radius: 50px;
    font-size: 11pt;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.08);
}

@media screen and (max-width: 1000px) {
    #fundo {
        width: 100%;
    }
}

h3 {
    font-family: "Arial";
    font-weight: bold;
    font-size: 20pt;
    text-align: center;
    color: #707070;
}

.btn-form {
    margin-top: 25px;
    padding: 16px 60px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 12pt;
}

#bteditar {
    color: white;
    background: #0056b3;
    float: right;
    border: 2px solid #0056b3;
}

    #bteditar:hover {
        background: none;
        color: #0056b3;
    }

#btsalvar {
    color: white;
    background: #08a217;
    float: right;
    border: 2px solid #08a217;
}

    #btsalvar:hover {
        background: none;
        color: #08a217;
    }

#avoltar {
    color: #707070;
    border: 2px solid #707070;
}

    #avoltar:hover {
        color: white;
        background: #707070;
    }

.input {
    background: #F4F8F7;
    width: 90%;
    margin: auto;
    border: none;
    height: 55px;
}

.select2 {
    width: 90%;
}

label {
    margin-left: 1.4vw;
    font-weight: bold;
}
