table thead th:first-child {
    border-radius: 25px 0 0 0;
}

table thead th:last-child {
    border-radius: 0 25px 0 0;
}

table th {
    color: black;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    background-color: #87f4ac;
    /*rgb(112, 196, 105)*/
}

table tr:nth-child(odd) {
    background: rgb(245,245,245);
}

table tr:nth-child(even) {
    background: rgb(255,255,255);
}
