table thead th:first-child {
    border-radius: 25px 0 0 0;
}

table thead th:last-child {
    border-radius: 0 25px 0 0;
}

table th {
    color: black;
    padding: 15px 20px;
    text-align: center;
    font-weight: bold;
    background-color: #87f4ac;
}

table tr:nth-child(odd) {
    background: rgb(242,242,242);
}

table tr:nth-child(even) {
    background: rgb(255,255,255);
}

.columnAcao {
    text-align: center;
}
    .columnAcao a {
        font-size: 1.084rem;
        border-radius: 12px 0 12px 0;
    }

    .columnAcao .fa::after {
        font-weight: normal;
        font-family: Helvetica, sans-serif;
    }

    .columnAcao .fa-pencil::after {
        content: " Editar";
    }

    .columnAcao .fa-trash::after {
        content: " Excluir";
    }
